<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>fold</title>
  </head>
  <body>
    <main role="main" class="container">
      <div  class="row">
        <div style="padding-left:227px;" class="col-md-10">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <section>
      <div class="form-group">
        <form action="" method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              {{form.username.label(class="form-control-label")}}
              {% if form.username.errors %}
                {{form.username(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.username.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                {{form.username(class="form-control-label")}}
              {% endif%}
              <br>
              {{form.email.label(class="form-control-label")}}
              {% if form.email.errors %}
                {{form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.email.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                {{form.email(class="form-control-label")}}
              {% endif%}
              <br>
              {{form.password.label(class="form-control-label")}}
              {% if form.password.errors %}
                {{form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.password.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                {{form.password(class="form-control-label")}}
              {% endif%}
              <br>
              {{form.confirm_password.label(class="form-control-label")}}
              {% if form.confirm_password.errors %}
                {{form.confirm_password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.confirm_password.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                {{form.confirm_password(class="form-control-label")}}
              {% endif%}
              <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
      </div>
    </section>
    <br>
    <a href="{{url_for('login')}}">Already registered! login page</a>
  </body>
</html>
