<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>fold-transaction</title>
  </head>
  <body>
    <main role="main" class="container">
      <div  class="row">
        <div style="padding-left:227px;" class="col-md-10">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <br>
    <section>
      <div class="form-group">
        <form action="" method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              {{form.receiver.label(class="form-control-label")}}
              {% if form.receiver.errors %}
                {{form.receiver(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.receiver.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                {{form.receiver(class="form-control-label")}}
              {% endif%}
              <br>
              {{form.sender.label(class="form-control-label")}}
              {% if form.sender.errors %}
                {{form.sender(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.sender.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                {{form.sender(class="form-control-label")}}
              {% endif%}
              <br>
              {{form.amount.label(class="form-control-label")}}
              {% if form.amount.errors %}
                {{form.amount(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {%for error in form.amount.errors%}
                    <span>{{error}}</span>
                  {%endfor%}
                </div>
              {% else %}
                {{form.amount(class="form-control-label")}}
              {% endif%}
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
      </div>
    </section>
  </body>
</html>
